.jumbotron {
    background-image: url(../images/hero-bg.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    border: 1px;
    border-style: solid;
    border-color: #000;
}
