### Node ###
logs
*.log

### Hosted images ###
/images/hackathon_02/
/images/hackathon_02_mini/

### Node ###
logs
*.log

### NPM ###
/node_modules/

### Build dir ###
build/
hosted-images/

### Config File ###
config.json