@import "normalize.css";
@import "header.css";
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");

body {
  font-family: 'Droid Sans', sans-serif;
  color: #262b2d;
  font-size: 18px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #981e32;
}

dt {
  color: #981e32;
  font-weight: bold;
}

strong {
  color: #5e6a71;
}

a:visited, a:link, a:active {
  color: #003c69;
  text-decoration: none;
}

a:hover {
  color: #5e6a71;
}

.center {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content {
  position: relative;
  max-width: 900px;
}

.intro-para {
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 40px;
  padding-top: 50px;
}

#top-button {
  bottom: 10px;
  left: 10px;
  position: fixed;
}


 
