@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");

ul {
  margin: 0;
  padding: 0;
}

/* There's only one of these */
header {
  width: 100%;
}

#banner {
  background-color: #981e32;
  box-shadow: inset 0 0 10px #000000;
  height: 360px;
  width: 100%;
}

#banner-elements {
  max-width: 1120px;
  width: 100%;
}

#cougar-logo {
  display: block;
  float: left;
  position: relative;
  top: -20px;
}

#hackathon-slogan {
  color: white;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  line-height: 64px;
  position: relative;
  text-transform: uppercase;
  top: 20px;
  max-width: 650px;
  width: 100%;
}



#master-nav {
  height: 80px;
  width: 600px;
}

#master-nav ul {
  list-style-type: none;
}

#master-nav li {
  font-size: 32px;
  font-weight: bold;
  float: left;
  text-align: center;
  width: 140px;
}

#master-nav li a {
  display: block;
  padding: 28px 0;
}

/* Needs to be last or it won't properly override the previous styles */
@media (max-width: 1120px) {
  #cougar-logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #banner {
    height: 780px;
  }

  #hackathon-slogan {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #master-nav {
    height: 140px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    width: 100%;
  }

  #master-nav li {
    /*border-right: 1px solid;*/
    width: 25%;
  }

  #master-nav li a {
    padding: 56px 0;
  }
}