@import "common-v<version>.css";

.gallery {
  text-align: center;
}

.gallery figure {
  width: auto;
  display: inline-block
}

figure a img {
  /* Smooths out Safari transistions */
  -webkit-transition: -webkit-transform .15s linear;
  padding: 10px;
  max-width: 200px;
}