@import "normalize.css";
@import "header.css";
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #981e32;
  margin: 16px 0 4px 0;
}

body {
  color: #262b2d;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}

dd {
  margin: 0 0 10px 20px;
}

dt {
  color: #981e32;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 4px 0;
}

menu {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
}

p {
  line-height: 24px;
  margin: 0 0 8px 4px;
}

strong {
  color: #40494E;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:visited, a:link, a:active {
  color: #003c69;
  text-decoration: none;
}

a:hover {
  color: #5e6a71;
}

strong a:visited,
strong a:link,
strong a:active {
  color: #981e32;
}

.bulleted {
  list-style-type: disc;
  padding-left: 40px;
}

.numbered {
  list-style-type: decimal;
  padding-left: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content {
  max-width: 900px;
  margin-bottom: 64px;
  padding: 0 10px;
  position: relative;
}

.x-scrollable {
  overflow-x: auto;
  margin: 0 -10px;
}

#top-button {
  background: #981e32;
  border-radius: 8px;
  bottom: 10px;
  color: #fff;
  display: block;
  float: right;
  font-size: 20px;
  padding: 6px 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 84px;
  z-index: 10;
}

#top-button:hover,
#top-button:active {
  box-shadow: inset 0 0 8px #000;
}

ul.pad {
  padding-left: 40px;
}
