@import "common.css";
@import "../photoswipe/photoswipe.css";
@import "../photoswipe/default-skin/default-skin.css";

.gallery {
  text-align: center;
}

.gallery figure {
  width: auto;
  display: inline-block
}

figure a img {
  /* Smooths out Safari transistions */
  -webkit-transition: -webkit-transform .15s linear;
  padding: 10px;
  max-height: 133px;
  max-width: 200px;
}

.picture-button {
    margin: 0 auto;
    background-color: #981e32;
    color: #fff;
    border-radius: 9px;
    border: none;
    padding: 10px 20px;
}

.picture-button:hover,
.picture-button:active {
  box-shadow: inset 0 0 8px #000;
}