<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="application/javascript" src="assets/scripts/google_analytics.js"></script>
  <link rel="shortcut icon" href="assets/images/hackathon_logo.png"/>

  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="assets/styles/{{page.css}}" />
</head>
<body>
  <header id="top">
    <nav id="master-nav" class="center">
      <menu id="nav">
        <menuitem><a href="index.html">Home</a></menuitem>
        <menuitem class="mobile-hidden"><a href="index.html#info">Info</a></menuitem>
        <menuitem class="mobile-hidden"><a href="index.html#sponsor">Sponsor</a></menuitem>
        <menuitem><a href="ideas.html">Projects</a></menuitem>
        <menuitem><a href="teams.html">Teams</a></menuitem>
        <menuitem class="mobile-hidden"><a href="pictures.html">Pictures</a></menuitem>
      </menu>
    </nav>
    <div id="banner">
      <div id="banner-elements" class="center">
        <img id="cougar-logo" src="assets/images/cougar_logo.png" />
        <div id="hackathon-slogan">
          Dream. Think. Learn. Explore. Teach. Collaborate. Innovate. Advocate.
          Code. Build. Hack. WSU.
        </div>
      </div>
    </div>
  </header>
  <a id="top-button" href="#top">Top</a>

  <div class="content center">
    {{content}}
  </div>
</body>
</html>
