<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>

      <h4 style="text-info"><span style="text-default">default</span></h4>
      <h4><span style="text-info">info</span></h4>
      <h4><span style="text-primary">primary</span></h4>
      <h4><span style="text-danger">danger</span></h4>
      <h4><span style="text-warning">warning</span></h4>

      <button class="btn btn-primary">default</button>
      <button class="btn btn-info">info</button>
      <button class="btn btn-primary">primary</button>
      <button class="btn btn-warning">warning</button>
      <button class="btn btn-danger">danger</button>

      <p>
        Nam facilisis, ante et maximus aliquam, enim augue tristique libero, sed luctus lacus dolor non metus.
        Nullam egestas mauris id egestas vestibulum.
        Ut faucibus, arcu ac malesuada convallis, nunc lorem posuere lacus, vitae tincidunt augue diam sit amet augue.
        Integer lacinia facilisis metus at mattis. Mauris venenatis volutpat arcu, at scelerisque libero tristique ut.
        Vivamus pellentesque enim ac vulputate varius. Fusce vel nisl volutpat, malesuada nisl sit amet, aliquet augue.
        Integer lacus urna, lobortis ac rhoncus id, tempor tempor nulla.
        Nam vel varius nibh.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nam suscipit sit amet purus quis viverra.
        Aliquam porta augue nec dolor suscipit, eu cursus odio commodo.
        Suspendisse rhoncus facilisis justo et ultricies.
        Aliquam maximus placerat mi, molestie varius metus auctor quis.
        Phasellus venenatis vulputate egestas.
      </p>
    </div>
  </div>
</div>
