<div class="jumbotron">
  <div class="container">
    <h1>Hack with Us</h1>
    <p class="lead">
      Crimson Code @ Washington State University<br />
      Februrary 4th-5th, 2017
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Event Calendar</h4></div>
        <table class="table table-striped">
          <tr>
            <td class="col-md-2">August 22nd, 2016</td>
            <td>Sponsorhip tiers announced.</td>
          </tr>
          <tr>
            <td>TBD</td>
            <td><span class="text-danger">ACM Speaker Series:</span> Data Science with Python</td>
          </tr>
          <tr>
            <td>TBD</td>
            <td><span class="text-danger">ACM Speaker Series:</span> Web Applications with AngularJS</td>
          </tr>
          <tr>
            <td>October 31st, 2016</td>
            <td>Registration opens for all hackers.</td>
          </tr>
          <tr>
            <td>Janurary 25th, 2017</td>
            <td>Registration closes for all hackers.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Sponsors</div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
  </div> -->
</div>
