<div class="jumbotron">
  <div class="container">
    <div class="col-md-6">
      <h1>Hack with Us</h1>
      <p class="lead">
        Crimson Code @ Washington State University<br />
        Februrary 4th-5th, 2017
      </p>
    </div>
    <div class="col-md-6">
      <img class="img img-responsive" style="height: 200px" src="images/WhiteWheatLogoTransparent.png" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>General Information</h2>
      <p>In order to make sure that you have all the time you need to prepare for the hackathon, we've prepared some informtaion for you.</p>
      <h4><b>Will there be food?</b></h4>
      <p>
        So much food. All meals will be covered as well as snacks along the way.
      </p>
      <h4><b>How many people can be on one team?</b></h4>
      <p>
        As of this year, you may have up to four students on one team.
        We've increased this number to allow for non-developer roles such as business-minded and engineering students.
        Note: the fourth person may be a developer if you wish. However, all members <i>must</i> be current high school or college students.
      </p>
      <button class="btn btn-primary btn-sm">Frequently Asked Questions</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h2>Important Dates</h2>
      <div class="panel panel-default">
        <table class="table table-striped">
          <tr>
            <td class="col-md-2">August 22nd, 2016</td>
            <td>Sponsorhip tiers announced.</td>
          </tr>
          <tr>
            <td>TBD</td>
            <td><span class="text-danger">ACM Speaker Series:</span> Data Science with Python</td>
          </tr>
          <tr>
            <td>TBD</td>
            <td><span class="text-danger">ACM Speaker Series:</span> Web Applications with AngularJS</td>
          </tr>
          <tr>
            <td>October 31st, 2016</td>
            <td>Registration opens for all hackers.</td>
          </tr>
          <tr>
            <td>Janurary 25th, 2017</td>
            <td>Registration closes for all hackers.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Sponsors</div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
  </div> -->
</div>
