<div class="jumbotron" style="background-image: url(images/solder-bg.jpg);">
  <div class="container">
    <div class="col-md-6">
      <h1>Hack with Us</h1>
      <p class="lead">
        Crimson Code @ Washington State University<br />
        Februrary 4th-5th, 2017
      </p>
      <a class="btn btn-lg btn-danger" href="https://crimsoncode.eventbrite.com">Register Now!</a>
    </div>
    <div class="col-md-6">
      <center><img class="img img-responsive" style="height: 230px" src="images/WhiteWheatLogoTransparent.png" /></center>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">General Information</h2>
      <p>In order to make sure that you have all the time you need to prepare for the hackathon, we've prepared some information for you.</p>
      <h4><b>Will there be food?</b></h4>
      <p>
        So much food. All meals will be covered as well as snacks along the way.
      </p>
      <h4><b>How many people can be on one team?</b></h4>
      <p>
        The 2017 Crimson Code will be the first hackathon where we allow <b>4 hackers per team</b>.
        We have raised this to encourage students to bring in students from more diverse academic backgrounds.
        You still may have four total programmers; however the intent is to ensure that teams get more value.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Crimson Code 2017 Sponsors</h1>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <img src="images/sel.png" href="https://selinc.com/" class="img img-responsive" />
    </div>
    <div class="col-md-2">
      <img src="images/concur.png" href="https://www.concur.com/" class="img img-responsive" />
    </div>
    <div class="col-md-2">
      <img src="images/dellemc.png" href="https://www.dell.com/" class="img img-responsive" />
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <h2>Important Dates</h2>
      <div class="panel panel-default">
        <table class="table table-striped">
          <tr>
            <td class="col-md-2">August 22nd, 2016</td>
            <td>Sponsorship tiers announced.</td>
          </tr>
          <tr>
            <td>January 2nd, 2016</td>
            <td>Registration opens for all hackers.</td>
          </tr>
          <tr>
            <td>February 1st, 2017</td>
            <td>Registration closes for all hackers.</td>
          </tr>
          <tr>
            <td>February 4th, 2017</td>
            <td>Crimson Code starts at 9:00 AM.</td>
          </tr>
          <tr>
            <td>February 5th, 2017</td>
            <td>Crimson Code finishes.</td>
          </tr>
        </table>
      </div>
    </div>
</div>
