<div class="jumbotron" style="background-image: url(images/audience-bg.jpg);">
  <div class="container">
    <div class="col-md-12">
      <h1>Sponsor Crimson Code</h1>
      <p class="lead">
        Help students at Washington State Unviersity develop the skills for tomorrow's workforce.
      </p>
      <a class="btn btn-danger" href="mailto:crimsoncodeinfo+sponsorship@gmail.com">Contact us Today!</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">Why Sponsor Crimson Code?</h2>
      <p>
        In years past, it has been established in our community that our annual hackathons inspire an unmatched passion for innovation among the student engineers here at WSU. If your company decides to become a sponsor for CrimsonCode:
        <ul>
          <li>Your brand will be associated with one the largest hackathon in Eastern Washington.</li>
          <li>Your company will have access to resumes and have the ability to host interviews during the event.</li>
          <li>Your company's representatives will have the opportunity to meet one-on-one with the students here at WSU as a mentor, judicator, advocate of education, and possibly, future employer.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">Ways to Give</h2>
      <h4><b>Monetary Donations</b></h4>
      <p>
        Monetary donations help us be more flexible when it comes to purchasing food and products for the event.
        These donations are tax-deductible through Washington State University.
        Below you will find the table with our sponsorship tiers.
      </p>

      <h4><b>Host a Meal</b></h4>
      <p>
        We can work with you and your company to cover the cost of catering for one of our meals, we will include branding and signage for these donors.
      </p>

      <h4><b>Prize Donation</b></h4>
      <p>
        One of the best parts about participating in a hackathon is all of the cool prizes!
        Donations made by individuals or companies will be announced during the opening and closing ceremonies.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">Sponsorship Tiers</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>$500</th>
          <th>$1000</th>
          <th>$2000</th>
          <th>$4000+</th>
          <th>Title Sponsor</th>
        </tr>
        <tr>
          <td>Logo on Website</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Logo on Posters and Shirts</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Lightning Talks</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Promotional Videos at Event</td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>

        </tr>
        <tr>
          <td>Access to Resume Book</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Information Table at Event</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
          <td>X</td>

        </tr>
        <tr>
          <td>Individual Prize Category</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>

        </tr>
        <tr>
          <td>Side Events</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Opening Keynote Speaker</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>

        </tr>
      </table>
    </div>
  </div>
</div>
