<div class="jumbotron" style="background-image: url(images/audience-bg.jpg);">
  <div class="container">
    <div class="col-md-12">
      <h1>Sponsor Crimson Code</h1>
      <p class="lead">
        Help students at Washington State Unviersity develop the skills for tomorrow's workforce.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Why Sponsor Crimson Code?</h2>
      <p>
        In years past, it has been established in our community that our annual hackathons inspire an unmatched passion for innovation among the student engineers here at WSU. If your company decides to become a sponsor for CrimsonCode:
        <ul>
          <li>Your brand will be associated with one the largest hackathon in Eastern Washington.</li>
          <li>Your company will have access to resumes and have the ability to host interviews during the event.</li>
          <li>Your company's representatives will have the opportunity to meet one-on-one with the students here at WSU as a mentor, judicator, advocate of education, and possibly, future employer.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Ways to Give</h2>
      <ol>
        <li>Monetary Donations</li>
        <li>Sponsored Rooms and Events</li>
        <li>Product Donations</li>
      </ol>
    </div>
  </div>
</div>
