<div class="jumbotron" style="background-image: url(images/crowd-bg.jpg);">
  <div class="container">
    <div class="col-md-12">
      <h1>Crimson Code Team</h1>
      <p class="lead">
        Members of the WSU chapter of the Association of Computing and Machinery.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">Executive Leadership</h2>
      <h4>Tyler Walker, <span class="text-wsugraydark">Executive Chair</span></h4>
      <h4>Cammi Smith, <span class="text-wsugraydark">Sponsorship Coordinator</span></h4>
      <h4>Rachel Forbes, <span class="text-wsugraydark">Logistics Coordinator</span></h4>
      <h4>Megan McPherson, <span class="text-wsugraydark">Operations Coordinator</span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-wsucrimson">Organizers</h2>
      <h5>Courtney Snyder</h5>
      <h5>Nick Vasicek</h5>
      <h5>Joao Victor Martins</h5>
      <br />
      <p>If you would like to join our organizing team please e-mail <a class="text-danger" href="mailto:crimsoncodeinfo@gmail.com">crimsoncodeinfo@gmail.com</a>.
    </div>
  </div>
</div>
