<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Team</h1>
      <p>Crimson Code is organized officers and members of the Association of Computing Machinery at Washington State University.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Executive Leadership</h2>
      <h4>Tyler Walker, <span class="text-primary">Executive Chair</span></h4>
      <h4>Cammi Smith, <span class="text-primary">Sponsorship Coordinator</span></h4>
      <h4>Megan McPherson, <span class="text-primary">Logistics Coordinator</span></h4>
      <h4>Megan McPherson, <span class="text-primary">Operaions Coordinator</span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Organizers</h2>
      <h5>Armin Rahimi</h5>
      <h5>Connor Wytko</h5>
      <h5>Nehemiah Salo</h5>
      <h5>Thom Hemenway</h5>
      <br />
      <p>If you would like to join our organizing team please e-mail <a class="text-danger" href="mailto:crimsoncode@gmail.com">crimsoncode@gmail.com</a>.
    </div>
  </div>
</div>
